# Shell commands
alias rm="rm -iv"
alias cp="cp -iv"
alias mv="mv -iv"
alias rmdir="rmdir -v"
alias ls="exa"
alias mkdir="mkdir -pv"
alias chown="chown -Rv"
alias chmod="chmod -Rv"

# emacs
alias emac="emacs -nw"

# Convenience
alias cdneu="cd ~/Desktop/Northeastern"

# pacman
alias get="sudo pacman -S"
alias remove="sudo pacman -R"
alias upgrade="sudo pacman -Syu"
alias pkgsearch="pacman -Ss"

# python -- for now
alias python="python2"